/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
@import url(../lib/owl/owl.carousel.min.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.features-block .wrap-features .col .item-block1, .features-block .wrap-features .col .item-block2, .features-block .wrap-features .col .item-block3, .features-block .wrap-features .col .item-block4 {
  position: relative;
  width: 100%;
  height: 253px;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption-newreceipts, .caption-popular, .caption-sales, .caption-reviews {
  padding-top: 19px;
  padding-bottom: 19px;
  color: white;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.features-block, .newreceipts, .popular, .sales, .reviews {
  padding-top: 20px;
  padding-bottom: 20px;
}

.features-block .wrap-features, .newreceipts .wrap-newreceipts, .popular .wrap-popular, .sales .wrap-sales, .reviews .wrap-reviews {
  margin-left: -10px;
  margin-right: -10px;
  text-align: center;
}

.features-block .wrap-features .col, .newreceipts .col, .popular .wrap-popular .col, .sales .wrap-sales .col, .reviews .wrap-reviews .col {
  float: left;
  padding: 10px 10px;
}

.newreceipts .col .receipts-items, .popular .wrap-popular .col .popular-items, .sales .wrap-sales .col .sales-items {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 350px;
  padding: 10px 10px 10px 10px;
  box-shadow: inset 0 0 0 1px #cad0d7;
}

.newreceipts .col .receipts-items h4, .popular .wrap-popular .col h4, .sales .wrap-sales .col h4 {
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
  color: #999999;
  font-size: 11px;
  font-weight: 400;
}

.newreceipts .col .receipts-items h3, .popular .wrap-popular .col h3, .sales .wrap-sales .col h3 {
  text-align: center;
  min-height: 48px;
  color: black;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding-top: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.rub {
  display: inline-block;
  border-bottom: 1px solid;
  line-height: 0px;
  width: 10px;
  height: 3px;
  font-size: 18px;
  margin-left: 5px;
}

.newreceipts .col .receipts-items .price-before, .popular .wrap-popular .col .price-before, .sales .wrap-sales .col .price-before {
  float: left;
  margin-top: 25px;
  margin-left: 20px;
  color: #a9b0bb;
  font-family: "Myriad Pro";
  font-size: 18px;
  font-weight: 700;
  text-decoration: line-through red;
}

.newreceipts .col .receipts-items .price, .popular .wrap-popular .col .price, .sales .wrap-sales .col .price {
  position: relative;
  float: left;
  margin-top: 18px;
  margin-left: 95px;
  color: #424852;
  font-size: 24px;
  font-weight: 700;
}

.newreceipts .col .receipts-items .price-before + .price, .popular .wrap-popular .col .price-before + .price, .sales .wrap-sales .col .price-before + .price {
  float: left;
  margin-top: 19px;
  margin-left: 35px;
  color: #e8553e;
  font-size: 24px;
  font-weight: 700;
}

.newreceipts .col .receipts-items .price::before, .popular .wrap-popular .col .price::before, .sales .wrap-sales .col .price::before {
  position: absolute;
  z-index: -1;
  left: -17px;
  top: -2px;
  content: '';
  display: block;
  background-image: url(../img/price-img.png);
  opacity: 0.4;
  width: 82px;
  height: 30px;
}

.newreceipts .col .receipts-items input, .popular .wrap-popular .col input, .sales .wrap-sales .col input {
  float: right;
  box-shadow: 0 2px 0 #403330;
  border: 1px solid #4e3f3b;
  background-color: #76645f;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding: 8px 8px 8px 30px;
  background-image: url(../img/cort-into-input.png);
  background-repeat: no-repeat;
  background-position: 8%;
}

.footer .wrap-footer-top-plus .wrap-footer-top .footer-nav h2, .footer .wrap-footer-top-plus .wrap-footer-top .footer-contacts h2 {
  padding-bottom: 40px;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer .wrap-footer-top-plus .wrap-footer-top .footer-nav a, .footer .wrap-footer-top-plus .wrap-footer-top .footer-contacts p {
  color: #d6d4d4;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.slider .photos {
  position: relative;
}

.slider .photos img {
  width: 100%;
  display: none;
}

.slider .photos img:first-child {
  display: block;
}

.slider .photos .promo-block-inside {
  position: absolute;
  top: 112px;
  left: 170px;
  width: 630px;
  height: 272px;
  background-color: #000000;
  opacity: 0.5;
}

.slider .photos .promo-block-outside {
  position: absolute;
  top: 112px;
  left: 170px;
  width: 630px;
  height: 272px;
}

.slider .photos .promo-block-outside .caption1-promo-block {
  position: absolute;
  top: 60px;
  left: 60px;
  color: white;
  font-size: 29px;
  font-style: italic;
}

.slider .photos .promo-block-outside .caption2-promo-block {
  position: absolute;
  top: 100px;
  left: 60px;
  color: white;
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider .photos .promo-block-outside .carousel-link {
  display: inline-block;
  position: absolute;
  top: 163px;
  left: 60px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  padding: 20px 32px 20px 32px;
  border: 2px solid white;
}

.slider .photos .btn_prev {
  display: inline-block;
  position: absolute;
  bottom: 2%;
  left: 45%;
}

.slider .photos .btn_next {
  display: inline-block;
  position: absolute;
  bottom: 2%;
  right: 45%;
}

.second-nav li {
  display: inline-block;
}

.second-nav .second-nav-menu {
  float: left;
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.second-nav .second-nav-menu a {
  display: inline-block;
  color: white;
  padding: 20px 25px 20px 25px;
}

.second-nav .social-icons {
  display: inline-block;
  float: right;
  margin-right: 20px;
}

.second-nav .social-icons a {
  display: inline-block;
  color: white;
  padding: 10px 0 10px 20px;
}

.second-nav .social-icons .cirkle-second-nav {
  display: inline-block;
  width: 31px;
  height: 31px;
  position: relative;
  background-color: white;
  border-radius: 50%;
}

.second-nav .social-icons .cirkle-second-nav .fa {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #57413b;
}

.features-block .wrap-features .col {
  width: 50%;
}

.features-block .wrap-features .col .item-block1 {
  background-image: url(../img/features1.jpg);
}

.features-block .wrap-features .col .item-block2 {
  background-image: url(../img/features2.jpg);
}

.features-block .wrap-features .col .item-block3 {
  background-image: url(../img/features3.jpg);
}

.features-block .wrap-features .col .item-block4 {
  background-image: url(../img/features4.jpg);
}

.features-block .wrap-features .col .feature-item-bloc-link {
  display: inline-block;
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
  line-height: 50px;
  padding-left: 24px;
}

.newreceipts .col {
  width: 25%;
}

.popular .wrap-popular .col {
  width: 25%;
}

.sales .wrap-sales .col {
  width: 25%;
}

.reviews .wrap-reviews .col {
  width: 50%;
}

.reviews .wrap-reviews .col .reviews-item .time-for-reviews {
  text-align: right;
  margin-bottom: 10px;
  color: #a9b0bb;
  font-size: 12px;
  font-weight: 400;
}

.reviews .wrap-reviews .col .reviews-item img {
  display: inline-block;
  float: left;
}

.reviews .wrap-reviews .col .reviews-item .content-reviews-block {
  display: inline-block;
  float: right;
  width: 500px;
  height: 111px;
  border: 1px solid #dcdcdc;
}

.reviews .wrap-ceo h2 {
  display: inline-block;
  padding-top: 60px;
  padding-bottom: 20px;
  color: black;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
}

.reviews .wrap-ceo p {
  display: inline-block;
  padding-bottom: 30px;
  color: #5c5c5c;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-height: 20px;
  font-line-height: 20px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1260px;
  margin: 0 auto;
}

.container-for-screen {
  width: auto;
  margin: 0 auto;
  background-color: #57413b;
}

.container-1600px {
  width: 1600px;
  margin: 0 auto;
}

.header-top {
  background-color: white;
  color: #57413b;
}

.header-top .header-top-logo {
  float: left;
  color: #57413b;
  width: 280px;
  height: 60px;
  margin: 16px 22.5px 27px 0;
}

.header-top .header-top-logo img {
  float: left;
}

.header-top .header-top-logo .logo-text1 {
  float: left;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  margin: 16px 0 0 0;
}

.header-top .header-top-logo .logo-text2 {
  float: left;
  margin-top: 7px;
  font-size: 14px;
  font-style: italic;
  white-space: nowrap;
}

.header-top-about {
  float: left;
  margin: 32px 22.5px 27px 22.5px;
}

.header-top-about li {
  display: inline-block;
  margin-top: 12px;
}

.header-top-about li a {
  color: #57413b;
}

.header-top-contacts {
  width: 211px;
  height: 46px;
  float: left;
  margin: 28px 22.5px 27px 22.5px;
}

.header-top-contacts .header-top-contacts-container {
  float: left;
}

.header-top-contacts .header-top-contacts-container .contacts-img1 {
  float: left;
  margin-left: 3px;
  margin-top: 3px;
}

.header-top-contacts .header-top-contacts-container .header-contacts-telephone {
  float: left;
  padding-left: 10px;
  font-size: 22px;
  font-weight: 700;
  color: #1e1e1e;
}

.header-top-contacts .header-top-contacts-container .contacts-img2 {
  float: left;
  margin-top: 9px;
}

.header-top-contacts .header-top-contacts-container .header-contacts-callback {
  float: left;
  padding-left: 8px;
  margin-top: 9px;
}

.header-top-user {
  float: left;
  width: 183px;
  height: 42px;
  margin: 32px 22.5px 27px 22.5px;
}

.header-top-user img {
  float: left;
  margin-top: 4px;
}

.header-top-user .header-top-user-login {
  float: left;
  padding-left: 15px;
}

.header-top-user .header-top-user-registration {
  float: left;
  padding-left: 15px;
  margin-top: 10px;
}

.header-top-cart {
  float: left;
  width: 165px;
  height: 50px;
  margin: 32px 0 27px 22.5px;
}

.header-top-cart img {
  float: left;
}

.header-top-cart .header-top-cartoption {
  float: left;
  padding-left: 10px;
  margin-top: 5px;
}

.header-bottom .header-bottom-nav {
  float: left;
}

.header-bottom .header-bottom-nav li {
  display: inline-block;
}

.header-bottom .header-bottom-nav a {
  display: inline-block;
  color: white;
  padding: 20px 25px 20px 25px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-bottom .header-bottom-nav a:first-child {
  padding-left: 20px;
}

.header-bottom-search {
  float: right;
}

.header-bottom-search input.header-search {
  display: block;
  float: left;
  margin: 9px 0 9px 0;
  width: 262px;
  height: 40px;
  background-color: #57413b;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  padding-left: 20px;
  outline: none;
}

.header-bottom-search input[type="text"]::-webkit-input-placeholder {
  color: white;
}

.header-bottom-search input[type="text"]::-moz-placeholder {
  color: white;
}

.header-bottom-search input[type="text"]:-ms-input-placeholder {
  color: white;
}

.header-bottom-search input.header-button-search {
  display: block;
  float: left;
  margin: 9px 0 9px 0;
  width: 60px;
  height: 40px;
  background-image: url(../img/magnifier-header-button-search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #57413b;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
}

.footer {
  background-image: url(../img/footer-back.jpg);
  background-size: cover;
}

.footer .wrap-footer-top-plus {
  background-color: rgba(87, 65, 59, 0.8);
}

.footer .wrap-footer-top-plus .wrap-footer-top {
  padding: 40px 0 40px 0;
}

.footer .wrap-footer-top-plus .wrap-footer-top .footer-nav {
  float: left;
  margin-right: 80px;
}

.footer .wrap-footer-top-plus .wrap-footer-top .footer-contacts {
  float: left;
}

.footer-copyright .wrap-footer-bottom {
  padding: 17px 0 17px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #948783;
}

.footer-copyright .wrap-footer-bottom span {
  color: white;
}
