//Шапка
div.header-top.container.clearfix

    div.header-top-logo

        img(src="img/logo_img.png" alt="Логотип")
        div.logo-text1 antique moscow
        div.logo-text2 Интернет-магазин антиквариата

    div.header-top-about

        div Наш адрес г.Москва, ул.Ленина 25
        ul
            li: a(href="#") О нас
            li: a(href="#") Доставка
            li: a(href="#") Оплата
            li: a(href="#") Контакты

    div.header-top-contacts

        div.header-top-contacts-container

            img(class="contacts-img1" src="img/telephone-img.png" alt="telephone-img")
            div.header-contacts-telephone 7 (978) 729-05-53

        div.header-top-contacts-container

            img(class="contacts-img2" src="img/callback-img.png" alt="callback-img")
            div.header-contacts-callback Заказать обратный звонок

    div.header-top-user

        img(src="img/user-icon.png" alt="user-img")
        div.header-top-user-login Войти
        div.header-top-user-registration Зарегистрироваться

    div.header-top-cart

        img(src="img/cart.png" alt="Корзина")
        div.header-top-cartoption В корзине нет<br> товаров

