//Меню
div.header-bottom-screen.container-for-screen

    div.header-bottom.container.clearfix

        div.header-bottom-nav
            ul
                li: a(href="#") Антиквариат из Европы
                li: a(href="#")Антиквариат из России
                li: a(href="#") Копии монет
                li: a(href="#") Современные изделия

        div.header-bottom-search
            form(action="#", method="post")
                input(type="text", name="search", class="header-search", placeholder="Что будем искать?")
                input(type="submit", value="", class="header-button-search")
