.footer
  background-image: url(../img/footer-back.jpg)
  background-size: cover

  .wrap-footer-top-plus
    background-color: rgba(87, 65, 59, 0.8)

    .wrap-footer-top
      padding: 40px 0 40px 0

      .footer-nav
        float: left
        margin-right: 80px

        h2
          @extend %for-heading-footer

        a
          @extend %for-inner-link-footer


      .footer-contacts
        float: left

        h2
          @extend %for-heading-footer

        p
          @extend %for-inner-link-footer

.footer-copyright

  .wrap-footer-bottom
    padding: 17px 0 17px 0

    text-align: center
    //font-family: "Myriad Pro"
    font-size: 18px
    font-weight: 400
    line-height: 32px
    color: #948783

    span
      color: $white


