
.clearfix:after
  content: ""
  display: table
  clear: both

.container
  width: $width-for-container
  margin: 0 auto

.container-for-screen
  width: $width-for-container-for-screen
  margin: 0 auto
  background-color: $primary-color

.container-1600px  //Для отцентровки
  width: $width-for-container-1600px
  margin: 0 auto

//----------Site-Header----------

//-----header-top-----
.header-top
  background-color: $background-color
  color: $primary-color

  .header-top-logo
    float: left
    color: rgb(87, 65, 59)
    width: 280px
    height: 60px
    margin: 16px 22.5px 27px 0

    img
      float: left

    .logo-text1
      float: left
      //fonts-family: Cambria
      font-size: 22px
      font-weight: 400
      //line-height: 20px
      text-transform: uppercase
      white-space: nowrap
      margin: 16px 0 0 0

    .logo-text2
      float: left
      margin-top: 7px
      //fonts-family: Cambria
      font-size: 14px
      font-style: italic
      //line-height: 20px
      white-space: nowrap

.header-top-about
  float: left
  margin: 32px 22.5px 27px 22.5px
  li
    display: inline-block
    margin-top: 12px
    a
      color: $primary-color

.header-top-contacts
  width: 211px
  height: 46px
  float: left
  margin: 28px 22.5px 27px 22.5px

  .header-top-contacts-container
    float: left

    .contacts-img1
      float: left
      margin-left: 3px
      margin-top: 3px

    .header-contacts-telephone
      float: left
      padding-left: 10px
      //fonts-family: "Open Sans"
      font-size: 22px
      font-weight: 700
      //line-height: 18px
      color: #1e1e1e

    .contacts-img2
      float: left
      margin-top: 9px

    .header-contacts-callback
      float: left
      padding-left: 8px
      margin-top: 9px

.header-top-user
  float: left
  width: 183px
  height: 42px
  margin: 32px 22.5px 27px 22.5px

  img
    float: left
    margin-top: 4px

  .header-top-user-login
    float: left
    padding-left: 15px

  .header-top-user-registration
    float: left
    padding-left: 15px
    margin-top: 10px

.header-top-cart
  float: left
  width: 165px
  height: 50px
  margin: 32px 0 27px 22.5px

  img
    float: left

  .header-top-cartoption
    float: left
    padding-left: 10px
    margin-top: 5px





//-----header-bottom-----
.header-bottom

  .header-bottom-nav
    float: left
    li
      display: inline-block
    a
      display: inline-block
      color: $background-color
      padding: 20px 25px 20px 25px
      //fonts-family: "Myriad Pro"
      font-size: 14px
      font-weight: 700
      //line-height: 16px
      text-transform: uppercase
      &:first-child
        padding-left: 20px

.header-bottom-search
  float: right

  input.header-search
    display: block
    float: left
    margin: 9px 0 9px 0
    width: 262px
    height: 40px
    background-color: $primary-color
    border: 1px solid rgba(255, 255, 255, 0.3)
    color: $background-color
    padding-left: 20px
    outline: none


  input[type="text"]
    &::-webkit-input-placeholder
      color: $background-color
    &::-moz-placeholder
      color: $background-color
    &:-ms-input-placeholder
      color: $background-color



  input.header-button-search
    display: block
    float: left
    margin: 9px 0 9px 0
    width: 60px
    height: 40px
    background-image: url(../img/magnifier-header-button-search.png)
    background-repeat: no-repeat
    background-position: center
    background-color: $primary-color
    border: 1px solid rgba(255, 255, 255, 0.3)
    outline: none





