%item-block
  position: relative
  width: 100%
  height: 253px
  background-repeat: no-repeat
  background-size: cover




%caption-for-block
  padding:
    top: 19px
    bottom: 19px

  color: $white
  //font-family: "Myriad Pro"
  font:
    size: 22px
    weight: 400
  text-transform: uppercase
  text-align: center

%padding-for-all-block
  padding:
    top: $padding-top-for-little-blocks
    bottom: $padding-bottom-for-little-blocks

%wrap-into-block
  margin-left: -10px
  margin-right: -10px
  text-align: center

%col
  float: left
  padding: 10px 10px


%items-into-block-in-wrap
  display: inline-block
  position: relative
  width: 100%
  height: 350px
  padding: $pad-for-col
  box-shadow: inset 0 0 0 1px rgb(202, 208, 215)

%for-h4-items-into-block-in-wrap
  text-align: left
  padding:
    top: 10px
    left: 20px

  color: darken($white, 40%)
  //font-family: "Myriad Pro"
  font:
    size: 11px
    weight: 400

%for-h3-items-into-block-in-wrap
  text-align: center
  min-height: 16px*3

  color: rgb(0, 0, 0)
  //font-family: "Open Sans"
  font:
    size: 14px
    weight: 400
  line-height: 16px
  padding:
    top: 14px
    left: 10px
    right: 10px

%rub-symbol
  display: inline-block
  border-bottom: 1px solid
  line-height: 0px
  width: 10px
  height: 3px
  font-size: 18px
  margin-left: 5px

%for-price-before
  float: left
  margin:
    top: 25px
    left: 20px
  color: #a9b0bb
  font-family: "Myriad Pro"
  font-size: 18px
  font-weight: 700
  text-decoration: line-through red

%for-price
  position: relative
  float: left
  margin:
    top: 18px
    left: 95px
  color: #424852
  //font-family: "Myriad Pro"
  font-size: 24px
  font-weight: 700

%for-price-before-plus-price
  float: left
  margin:
    top: 19px
    left: 35px
  color: #e8553e
  //font-family: "Myriad Pro"
  font-size: 24px
  font-weight: 700

%for-price-background-shape
  position: absolute
  z-index: -1
  left: -17px
  top: -2px
  content: ''
  display: block
  background-image: url(../img/price-img.png)
  opacity: 0.4
  width: 82px
  height: 30px

%for-input-into-block-in-wrap
  float: right
  box-shadow: 0 2px 0 #403330
  border: 1px solid #4e3f3b
  background-color: #76645f
  margin:
    top: 10px
    bottom: 10px
    right: 5px
  //font-family: "Myriad Pro"
  font-size: 16px
  font-weight: 700
  color: $white
  padding: 8px 8px 8px 30px
  //position: absolute
  //bottom: 14px
  //right: 21px
  background-image: url(../img/cort-into-input.png)
  background-repeat: no-repeat
  background-position: 8%





%for-heading-footer
  padding-bottom: 40px

  color: #ffffff
  //font-family: "Myriad Pro"
  font:
    size: 22px
    weight: 700
  text-transform: uppercase

%for-inner-link-footer
  color: #d6d4d4
  //font-family: "Myriad Pro"
  font-size: 18px
  font-weight: 400
  line-height: 32px
