.rub
  @extend %rub-symbol


//-----------OWL CAROUSEL----------

.slider

  .photos
    position: relative

    img
      width: 100%
      display: none

    img:first-child
      display: block

    .promo-block-inside
      position: absolute
      top: 112px
      left: 170px
      width: 630px
      height: 272px
      background-color: #000000
      opacity: 0.5

    .promo-block-outside
      position: absolute
      top: 112px
      left: 170px
      width: 630px
      height: 272px

      .caption1-promo-block
        position: absolute
        top: 60px
        left: 60px

        color: $white
        //fonts-family: "Myriad Pro"
        //line-height: 48px
        font:
          size: 29px
          style: italic

      .caption2-promo-block
        position: absolute
        top: 100px
        left: 60px

        color: $white
        //fonts-family: "Myriad Pro"
        font:
          size: 38px
          weight: 700
        text-transform: uppercase

      .carousel-link
        display: inline-block
        position: absolute
        top: 163px
        left: 60px

        color: $white
        //fonts-family: "Open Sans"
        font:
          size: 18px
          weight: 400
        padding: 20px 32px 20px 32px
        border: 2px solid $white

    .btn_prev
      display: inline-block
      position: absolute
      bottom: 2%
      left: 45%

    .btn_next
      display: inline-block
      position: absolute
      bottom: 2%
      right: 45%



//.owl-carousel
//
//  .owl-item
//
//    img
//      width: 1600px
//      height: 484px
//
//    .promo-block-inside
//      position: absolute
//      top: 112px
//      left: 170px
//      width: 630px
//      height: 272px
//      background-color: #000000
//      opacity: 0.5
//
//    .promo-block-outside
//      position: absolute
//      top: 112px
//      left: 170px
//      width: 630px
//      height: 272px
//
//      .caption1-promo-block
//        position: absolute
//        top: 60px
//        left: 60px
//
//        color: $white
//        //fonts-family: "Myriad Pro"
//        //line-height: 48px
//        font:
//          size: 29px
//          style: italic
//
//      .caption2-promo-block
//        position: absolute
//        top: 100px
//        left: 60px
//
//        color: $white
//        //fonts-family: "Myriad Pro"
//        font:
//          size: 38px
//          weight: 700
//        text-transform: uppercase
//
//      .carousel-link
//        display: inline-block
//        position: absolute
//        top: 163px
//        left: 60px
//
//        color: $white
//        //fonts-family: "Open Sans"
//        font:
//          size: 18px
//          weight: 400
//        padding: 20px 32px 20px 32px
//        border: 2px solid $white
//
//  .owl-nav
//    display: none
//
//  .owl-dots
//    display: inline-block
//    position: absolute
//    bottom: 24px
//    left: 50%
//    transform: translateX(-50%)
//    -webkit-transform: translateX(-50%)
//
//    .owl-dot
//      display: inline-block
//      padding: 10px
//      span
//        display: inline-block
//        width: 14px
//        height: 14px
//        border-radius: 50%
//        background-color: #000000
//
//    .active
//      span
//        background: $owl-dot-color



.second-nav

  li
    display: inline-block

  .second-nav-menu
    float: left

    color: $white
    //fonts-family: "Myriad Pro"
    font:
      size: 14px
      weight: 700
    text-transform: uppercase
    a
      display: inline-block
      color: $white
      padding: 20px 25px 20px 25px

  .social-icons
    display: inline-block
    float: right
    margin-right: 20px

    a
      display: inline-block
      color: $white
      padding: 10px 0 10px 20px

    .cirkle-second-nav
      display: inline-block
      width: 31px
      height: 31px
      position: relative
      background-color: $cirkle-nav-color
      border-radius: 50%

      .fa
        position: absolute
        top: 25%
        left: 50%
        transform: translateX(-50%)
        color: #57413b





//--------Features block---------
.features-block
  @extend %padding-for-all-block

  .wrap-features
    @extend %wrap-into-block

    .col
      @extend %col
      width: 50%

      .item-block1
        @extend %item-block
        background-image: url(../img/features1.jpg)

      .item-block2
        @extend %item-block
        background-image: url(../img/features2.jpg)

      .item-block3
        @extend %item-block
        background-image: url(../img/features3.jpg)

      .item-block4
        @extend %item-block
        background-image: url(../img/features4.jpg)

      .feature-item-bloc-link
        display: inline-block
        width: 100%
        height: 50px
        position: absolute
        left: 0
        bottom: 0
        background-color: rgba(0,0,0, .5)
        color: $white
        //font-family: "Myriad Pro"
        font:
          size: 22px
          weight: 400
        text-transform: uppercase
        text-align: left
        line-height: 50px
        padding-left: 24px




//--------Receipts block---------
.caption-newreceipts
  @extend %caption-for-block

.newreceipts
  @extend %padding-for-all-block

  .wrap-newreceipts
    @extend %wrap-into-block

  .col
    @extend %col
    width: 25%

    .receipts-items
      @extend %items-into-block-in-wrap

      h4
        @extend %for-h4-items-into-block-in-wrap

      h3
        @extend %for-h3-items-into-block-in-wrap

      .price-before
        @extend %for-price-before

      .price
        @extend %for-price

        &::before
          @extend %for-price-background-shape

      .price-before + .price
        @extend %for-price-before-plus-price

      input
        @extend  %for-input-into-block-in-wrap






//--------Popular block-----------
.caption-popular
  @extend %caption-for-block


.popular
  @extend %padding-for-all-block

  .wrap-popular
    @extend %wrap-into-block

    .col
      @extend %col
      width: 25%

      .popular-items
        @extend %items-into-block-in-wrap

      h4
        @extend %for-h4-items-into-block-in-wrap

      h3
        @extend %for-h3-items-into-block-in-wrap

      .price-before
        @extend %for-price-before

      .price
        @extend %for-price

        &::before
          @extend %for-price-background-shape

      .price-before + .price
        @extend %for-price-before-plus-price

      input
        @extend  %for-input-into-block-in-wrap






//-------Sales block----------
.caption-sales
  @extend %caption-for-block

.sales
  @extend %padding-for-all-block

  .wrap-sales
    @extend %wrap-into-block

    .col
      @extend %col
      width: 25%

      .sales-items
        @extend %items-into-block-in-wrap

      h4
        @extend %for-h4-items-into-block-in-wrap

      h3
        @extend %for-h3-items-into-block-in-wrap

      .price-before
        @extend %for-price-before

      .price
        @extend %for-price

        &::before
          @extend %for-price-background-shape

      .price-before + .price
        @extend %for-price-before-plus-price

      input
        @extend  %for-input-into-block-in-wrap



//---------Reviews block---------
.caption-reviews
  @extend %caption-for-block

.reviews
  @extend %padding-for-all-block

  .wrap-reviews
    @extend %wrap-into-block

    .col
      @extend %col
      width: 50%

      .reviews-item

        .time-for-reviews
          text-align: right
          margin-bottom: 10px

          color: #a9b0bb
          //font-family: "Open Sans"
          font-size: 12px
          font-weight: 400

        img
          display: inline-block
          float: left

        .content-reviews-block
          display: inline-block
          float: right
          width: 500px
          height: 111px
          border: 1px solid #dcdcdc



  .wrap-ceo

    h2
      display: inline-block
      padding:
        top: 60px
        bottom: 20px

      color: rgb(0, 0, 0)
      font:
        //family: "Open Sans"
        size: 28px
        weight: 400
      line-height: 32px

    p
      display: inline-block
      padding-bottom: 30px

      color: #5c5c5c
      font:
        family: "Open Sans"
        size: 14px
        weight: 400
        height: 20px
        line-height: 20px























